.logbody{
    background-image: url(green4.jpg);
    background-size: 100%;
    }
    .logimg{
      height: 90px;
      width: 90px;
      margin-left: 18%;
    }
    h1{
      margin-top: -5%;
      margin-left: 25%;
      color: darkgreen;
      font-family: Tahoma, sans-serif;
    }
    .container {
    background-color: ;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    text-align: center;
    margin-left: 38%;
    margin-top:3%;

    }

    .container h3 {
      color: white;
      font-family: arial;
      margin-top: -10%;

    }
    .container h4{
      color: white;
      font-family: arial;
      margin-top: -6%;

    }

    .login-form {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      color: white;
      text-align: left;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      font-weight: normal;
      margin-bottom: 5px;
      display: white;
    }

    .form-group input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 10px;
    }

    .form-group button {
      background-color: blue;
      color: white;
      padding: 5px;
      border: none;
      width: 40%;
      border-radius: 15px;
      cursor: pointer;
      font-size: 14px;
      margin-left: 30%;
      margin-bottom: -5%;
    }
    a{
      color: white;
      text-decoration: none;
    }
    #cwe{
      background-color: white;
      color: black;
      padding: 5px;
      border: none;
      width: 80%;
      border-radius: 15px;
      cursor: pointer;
      font-size: 14px;
      margin-left: 9%;
      margin-top: -2%;
    }
    #register{
      margin-top: ;
      margin-left: 35% ;
      color: blue;
    }

.homebody {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(white, darkgreen, white);
}
#hplogo{
  height: 10%;
  width: 35%;
  margin-left: 5%;
}
.h1{
  color: white;
  margin-top: -28%;
  margin-left: 42%;

}
.h2{
  margin-left: 18%;
  font-family: cursive;
  font-size: 30px;
}
#h22{
  margin-top: 1%;
  margin-left: 18%;
  font-weight: bold;
  font-size: 20px;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkgreen;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: darkgray;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.woman{
  float: right;
  margin-right: 38%;
  height: 25%;
  width: 180px;
}
.men{
  float: right;
  margin-right: 5%;
  height: 25%;
  width: 180px;
}
.voters{
  float: right;
  margin-right: -50%;
  height: 25%;
  width: 180px;
}
.tres{
  float: right;
  margin-top: 5%;
  margin-right: 60%;
  height: 25%;
  width: 230px;
}
.nres{
  float: right;
  margin-top: 5%;
  margin-right: -65%;
  height: 0%;
  width: 233px;
}
.resinfo{
  float: right;
  margin-top: 5%;
  margin-right: -42.3%;
  height: 30%;
  width: 262px;
}








